body{
    background-color: black;
    color: white;
}

h1{
    border-bottom-style: dotted;
    border-top-style: dotted;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #00bb00;
    border-right-style: dashed;
    border-color: white;
}

p{
    padding:5px;
    border-style: solid;
    border-style: dashed;
    border-style: dotted;
    border-style: double;
    border-style: ridge;
    border-style: groove;
    border-style: inset;
    border-style: outset;
    border-width: 3px 5px 3px 5px; 
    /* northern, eastern, southern, western   side widths*/
    border-color:#00bb00;
    border-radius: 10px;
}